ion-content {
  --background: #FFD700; /* Amarillo */
  background-image: radial-gradient(circle, rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size: 10px 10px; /* Tamaño de los puntos */
  overflow: hidden;
  font-family: 'Comic Sans MS', sans-serif; /* Fuente infantil */
}

.container {
  margin-top: 2rem;
  font-family: 'Comic Sans MS', sans-serif; /* Fuente infantil */
}

.noFoto {
  margin-top: 1rem;
  font-family: 'Comic Sans MS', sans-serif; /* Fuente infantil */
}

.logo {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.botones {
  --background: #8B4513; /* Marrón pastel */
  --border-color: #8B4513; /* Marrón pastel */
  color: #fff;
  width: 100%; /* Para que el botón ocupe todo el ancho */
  margin-top: 3rem;
  border: 3px groove #fff;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(0, 0, 0);
  font-family: 'Comic Sans MS', sans-serif; /* Fuente infantil */
}

.items {
  margin-bottom: 10%;
  --background: #f2f4f8; /* Marrón pastel */
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  font-family: 'Comic Sans MS', sans-serif; /* Fuente infantil */
}

.checkbox-item {
  --padding-end: 0;
  font-family: 'Comic Sans MS', sans-serif; /* Fuente infantil */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Change color of checked toggle */
input:checked + .slider {
  background-color: #8B4513;
}

/* Change color of knob when toggle is checked */
input:checked + .slider:before {
  background-color: #fff;
}

/* Agrega esta regla para mover el slider cuando está marcado */
.slider.checked:before {
  transform: translateX(26px);
}

ion-input {
  color: black; /* Color negro para el contenido de los inputs */
  font-family: 'Comic Sans MS', sans-serif; /* Fuente infantil */
}

ion-input[type="password"] {
  -webkit-text-security: disc; /* Asegura que los puntitos sean negros en iOS */
  text-security: disc; /* Asegura que los puntitos sean negros en otros navegadores */
  font-family: 'Comic Sans MS', sans-serif; /* Fuente infantil */
}
